---

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props
const { currentLocale } = Astro

---

<html lang={currentLocale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
		<title>{title}</title>
    <style is:global>
     main {
      width: 100vw;
      height: 100vh;    
      background: linear-gradient(45deg, #120431, #0A031C);
     }

     h1,h2 ,h3 ,h4 ,h5 ,h6 ,p ,a ,label, button {
      font-family: 'Inter', sans-serif;
      color: #fff;
     }

     #glass{
      filter: blur(20px);
      z-index: 5;
     }

    </style>
	</head>
	<body>
    <main>
      <slot name="main"></slot>
		</main>
	</body>
</html>